:root{
    --rojo: #EA411D;
    --naranja: #F78811;
    --negro: #000000;
}

*{
    font-family: Roboto;
}

body{
    width: 99.4%;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

h1{
    margin-top: 0px;
    text-align: center;
}

h2 {
    display: flex;
    margin-top: 5%;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contenedor-campos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;  
    margin-top: .7%;
    border: 2px solid var(--negro);
    border-radius: 10px;
}
@media (max-width: 1366px){
    .contenedor-campos{
        width: 80%; 
    }
}

@media (max-width: 1920px){
    .contenedor{
        width: 92%;  
    }
}


.section__infoEvento{
    display: grid;
    margin-left: 3%;
    margin-right: 1%;
    grid-template-columns: repeat(2, 1fr);
}

.info {
    margin-left: 50px 0%;
    margin-right: 2%;
}

span {
    font-weight: normal;
}

.campo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 8%;
    width: 100%;
}

@media (min-width: 1920px){
   .formulario .campo label{
    display: flex;
    margin-block-end: 500%;
    }
}

@media (max-width: 1366px){
    .contenedor-campos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;  
        margin-top: .7%;
        border: 2px solid var(--negro);
        border-radius: 10px;
    }
 }


input[type="button"]{
    padding: 10px 40px;
    color: var(--negro);
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-inline-end: 30px;
}

.modificar{
    background-color: var(--naranja);
}

.cancelar{
    background-color: var(--rojo);
}
