:root {
    --orange: #ffa500;
    --black: #000000;
    --white: #ffffff;
    --red: #EA411D;
}

*{
    font-family: "Roboto";
}

body{
    padding: 0px;
    margin: 0%;
    border: 0px;
}

a:link{
    text-decoration: none;
}

.workspace{
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.workspace .titleModule{
    text-align: center;
    margin: 0px;
    font-size: 48px;
}

.workspace .searchForm{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 30px;
    font-weight: 700;
}

.workspace form #searchBar{
    width: 15%;
    padding: 5px;
    border-radius: 10px;
    border-color: var(--black);
}

form .search_parametros {
    margin-inline-start: 20px;
}

h2 {
    display: flex;
    justify-content: center;
}

.formulario {
    display: grid;
    justify-content: center;
    width: 89%;
    border: 2px solid var(--black);
    border-radius: 10px;
}

.contenedor-campos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: .7%;
}

.campo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    width: 100%;
}

.container div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 2%;
}

.formulario .campodos{
    display: flex;
    justify-content: center; 
    margin-inline-end: 30px;
    
}

p {
    display: flex;
    justify-content: center; 
    vertical-align: center;
    margin-left: 8%;
    font-weight: 700;
}

label {
    font-weight: 700;
    justify-content: center;
    align-items: auto;
    margin: auto;
    margin-inline-end: 2px;
}

input[type=checkbox] {
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    padding: 10px;
    border: 2px solid var(--black);
}

.searchProduct{
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: .7%;
}

.contenedor__imagen {
    display: grid;
    justify-content: center;
    width: 89%;
    margin: auto;
    border: 2px solid var(--black);
    border-radius: 10px;
}

img {
    width: 87%;
}

a {
    display: flex;
    justify-content: right;
    align-content: flex-end;
    margin-right: 70px;
    padding-bottom: .5%;
}

form .botones{
    display: flex;
    vertical-align: center;
    justify-content: center;
    
}

input[type="submit"]{
    padding: 10px 40px;
    color: var(--negro);
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-inline-end: 30px;
}

.generar{
    background-color: var(--orange);
    width: 20%;
}

.cancelar{
    background-color: var(--red);
    width: 20%;
}

.campodos{
    position: relative;
    right:30rem;