*{
    font-family: Roboto;
}

body{
    width: 89%;
}

.titleModule {
    padding-left: 3rem;
    display:inline-block;
}

.info-usuario {
    border: solid black 2px;
    border-radius: 10px;
    width: 80rem;
    padding-left: 2rem;
    padding-top: 0px;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 10% 90%;
}

@media (max-width: 1600px){
    .info-usuario{
        width: 60rem;
    }
}

.info-texto {
    display: inline-block;
    padding: 2rem;
    margin-left: 5rem;
}

h2 {
    font: bold 3rem roboto;
}

.workspace .titleModule{
    text-align: center;
    margin: 0px;
    font-size: 48px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: orange;
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
    color: black;
    text-decoration: none;
}

.flex {
    display: flex;
}

.alinear-derecha {
    justify-content: flex-end;
}

.roles {
    margin-left: 0;
    margin-right: 0;
    align-items: left;
    display: inline-block;
    vertical-align: initial;
    justify-content: space-evenly;
    position: initial;
    margin-top: 50px !important;
}

.botones {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.button-uno{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: orange;
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
    color: black;
    text-decoration: none;
}

.button-dos{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #EA411D;
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
    color: black;
    text-decoration: none;
}

.foto-usuario {
    width: 170px;
    height: 170px;
    margin-top: 10px !important;
}

.uno {
    display: grid;
    grid-template-columns: 98% 2%;
    margin-left: 3rem;
}

.icono {
    width: 120px;
    height: 120px;
    margin-left: 0;
}

.foto {
    border: solid black;
    border-radius: 50%;
    width: 7.4rem;
    height: 7.4rem;
}

.rol {
    text-align: center;
}

.foto-rol {
    border: solid black 5px;
    border-radius: 50%;
    width: 7.4rem;
    height: 7.4rem;
    margin-left: 1rem;
    margin-top: 1.8rem !important;
}

.rol-actual {
    width: 10rem
}